// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root{
        ion-header{
        --background: transparent !important;
    }

ion-toolbar{
          --background: transparent !important;

}

ion-content{
            --background: transparent !important;

}

}

