
<ion-content>
     <section class="hero">
      <div id="hero-content">

        <h1 id="heroTitle">Découvrez Bateau Thibault</h1>
        <p id="heroSubtitle">Une expérience marine unique</p>

        <ion-buttons class="cta-buttons">
          <ion-button class="cta-btn primary" data-page="boats" (click)="onGoToBateaux()">Nos Bateaux</ion-button> 
          <ion-button class="cta-btn primary" data-page="products" (click)="onGoToProduits()">Produits Frais</ion-button> 
          <ion-button class="cta-btn secondary" data-page="restaurants" (click)="onGoToRestaurants()">Restaurants</ion-button> 
          <ion-button class="cta-btn secondary" data-page="recipes" (click)="onGoToRecettes()">Recettes</ion-button>
        </ion-buttons>

      </div>
   </section>
</ion-content>
