<ion-app>

<ion-menu contentId="mainContent" style="margin-top: 12%;">

  <ion-content class="menu">
    <br>
    <ion-buttons class="cta-buttons">
      <ion-button (click)="onGoToHome()" class="cta-btn primary" data-page="accueil" >Accueil</ion-button>
      <ion-button (click)="onGoToBateaux()" class="cta-btn primary">Bateaux</ion-button>
      <ion-button (click)="onGoToProduits()" class="cta-btn primary">Produits</ion-button>
      <ion-button (click)="onGoToRestaurants()" class="cta-btn primary">Restaurants</ion-button>
      <ion-button (click)="onGoToRecettes()" class="cta-btn primary ">Recettes</ion-button>
      <ion-button (click)="onGoToContact()" class="cta-btn primary">Contact</ion-button>
    </ion-buttons>
  </ion-content> 
  
</ion-menu>

<div >
  <ion-router-outlet></ion-router-outlet>
</div>

</ion-app>
