<ion-app>

  <ion-header  id="nav">
  <ion-toolbar id="nav">
    <ion-buttons slot="start">
      <div class="logo-container">
        <div class="logo-placeholder"><img src="/assets/img/logo.png" alt="logo"></div>
        <span class="site-title">Bateau Thibault</span>
      </div>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="onGoToHome()" class="nav-link" >Accueil</ion-button>
      <ion-button (click)="onGoToBateaux()" class="nav-link">Bateaux</ion-button>
      <ion-button (click)="onGoToProduits()" class="nav-link">Produits</ion-button>
      <ion-button (click)="onGoToRestaurants()" class="nav-link">Restaurants</ion-button>
      <ion-button (click)="onGoToRecettes()" class="nav-link">Recettes</ion-button>
      <ion-button (click)="onGoToContact()" class="nav-link">Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-router-outlet class="allBody"></ion-router-outlet>

</div>

</ion-app>
