<ion-content [fullscreen]="true">

  <div id="container" class="page">
    <section class="section">
      <h2 class="section-title">⚓ Nos Recettes</h2>
      <ion-card class="cards-grid" id="boatsGrid">
      @for (recette of recettes; track recette.id){

        <div class="card" id="openModalBateau">
            <div class="card-icon">{{recette.icon}}</div>
            <h3>{{recette.name}}</h3>
            <p>Difficulté: {{recette.difficulty}}</p>
            <div class="card-detail">
              <span>temps: {{recette.time}}</span>
            </div>
            <div class="card-detail">
              <span>Ingrédients: {{recette.ingredients}}</span>
            </div>
            <div class="card-detail">
              <span>Etapes:</span>
            </div>
            @for (step of recette.steps; track step) {
                <div class="card-detail">{{step}}</div>
              }
          </div>

        } @empty {
          <p>Aucun produits disponible pour le moment.</p>
        }
      </ion-card>
    </section>
  </div>

</ion-content>